<p>Hi <%= @user.first_name %>,</p>

<p>Your account is now set up to deliver for <%= @courier.seller.name %> on Nommit. A "Deliver" section should now be visible in the iPhone and Android apps (and if it isn't, try logging out and logging in again).</p>

<p>If you have any questions at all, feel free to reply to this email.</p>