<div class='modal-cover' ng-show='isShowingActivation' ng-controller='ActivateCtrl' ng-click='close()'>
  <div class='modal-container'>
    <div id='activation-form' class='modal' prevent-click-delegation>

      <div class='header'>
        <span class='close' ng-click='close()'></span>
        <span class='title'>Activate Account</span>
      </div>

      <div class='content'>

        <div class='overlay'>
          <img class='avatar' ng-if='user' ng-style="{ 'background-image': 'url(https://graph.facebook.com/{{user.id}}/picture?type=large)' }" />
          <div class='person'>
            <h3 class='name'>{{user.full_name}}</h3>
            <h5 class='email'>{{user.email}}</h5>
          </div>
          <div class="info error" ng-if='error'><i class="fa fa-info-circle"></i>{{error}}</div>
        </div>

        <form class='body' name='activateForm' ng-submit="activate()">

          <fieldset class='phone'>
            <label for="phone">Enter your phone number:</label>
            <div class="input-label left">
              <i class="fa fa-mobile-phone"></i>
              <input focus='{{isShowingActivation}}' type="tel" name="phone" required ng-model='activation.phone' placeholder="(&middot;&middot;&middot;) &middot;&middot;&middot; - &middot;&middot;&middot;&middot;">
            </div>
          </fieldset>

          <fieldset class='payment'>
            <label for="credit-card">Enter your payment details:</label>

            <div class='input-label left'>
              <i class="fa fa-credit-card"></i>
              <input type='text'
                   name='card'
                   class='card'
                   required
                   ng-model='payment.card'
                   payments-validate='card'
                   payments-format="card"
                   placeholder="&middot;&middot;&middot;&middot; &middot;&middot;&middot;&middot; &middot;&middot;&middot;&middot; &middot;&middot;&middot;&middot;" />
            </div>
            <span class='input-label left'>
              <i class="fa fa-calendar-o"></i>
              <input type="text"
                     name="expiry"
                     class='expiration'
                     ng-model='payment.expiry'
                     required
                     payments-validate='expiry'
                     payments-format="expiry"
                     placeholder="&middot;&middot; / &middot;&middot;&middot;&middot;" />
            </span>
            <span class='input-label left'>
              <i class="fa fa-lock"></i>
              <input type="cvc"
                     name="cvc"
                     class='cvc'
                     required
                     ng-model='payment.cvc'
                     payments-type-model="type"
                     payments-validate='cvc'
                     payments-format="cvc" />
            </span>
          </fieldset>
          <p class='secured'>
            <i class="fa fa-lock"></i>&nbsp;&nbsp;Stored Securely with Stripe
            <em class='muted'>(Lyft and Twitter use them too!)</em>
          </p>

          <button name="submit" ng-if='!isActivating' ng-disabled="activateForm.$invalid">Activate</button>
          <fading-circle-spinner ng-if='isActivating'></fading-circle-spinner>
        </form>

      </div>

    </div>
  </div>
</div>
