<div class='modal-cover' ng-show='isShowingConfirmPhone' ng-controller='ConfirmPhoneCtrl' ng-click='close()'>
  <div class='modal-container'>
    <div id='confirm-form'  class='modal' prevent-click-delegation>

      <div class='header'>
        <span class='close' ng-click='close()'></span>
        <span class='title'>Confirm Phone</span>
      </div>

      <div class='content'>

        <div class='overlay'>
          <img class='avatar' ng-if='user' ng-style="{ 'background-image': 'url(https://graph.facebook.com/{{user.id}}/picture?type=large)' }" />
          <div class='person' ng-if='user'>
            <h3 class='name'>{{user["full_name"]}}</h3>
            <h5 class='email'>{{user["phone"]}}</h5>
          </div>
          <div class="info error" ng-if='error'><i class="fa fa-info-circle"></i>{{error}}</div>
          <div class="info" ng-if='!error'><i class="fa fa-info-circle"></i>Nommit texted you a six digit confirm code.</div>
        </div>

        <form class='body confirm' name='confirmForm' ng-submit="confirm()">

          <fieldset>
            <label for='confirm'>Enter your confirm code:</label>
            <div class='input-label left'>
              <i class='fa fa-check-circle-o'></i>
              <input type="text"
                     name="code"
                     class='code'
                     ng-model='code'
                     required
                     min='6'
                     max='6'
                     placeholder="&middot;&middot;&middot;&middot;&middot;&middot;"
                     ng-minlength='6'
                     ng-maxlength='6' />
            </div>
          </fieldset>

          <button ng-disabled='confirmForm.$invalid' ng-if='!isConfirming'>Confirm</button>
          <fading-circle-spinner ng-if='isConfirming'></fading-circle-spinner>

        </form>

      </div>

    </div>
  </div>
</div>
