<div class='login-container' ng-if='isLoginVisible' ng-controller='LoginCtrl'>
  <div class='food-preview' ng-style="{ 'background-image': 'url( {{food_image}} )' }">

    <div class='fa fa-close' ng-click='hideLogin()'></div>

  </div>

  <h1>Sign in with Facebook <br />
  to complete your order</h1>

  <div class='button-container'>
    <button ng-click='login(food_id, place_id)' class='button facebook'>
      <i class='fa fa-facebook'></i>
      <span>Sign in with Facebook</span>
    </button>
  </div>

</div>
