<div class='modal-cover' id='rate-order' ng-show='isRatingFood' ng-controller='RateFoodCtrl' ng-click='close()' ng-keydown='closeOnEsc($event)'>
  <div class='modal-container'>
    <div class='modal' prevent-click-delegation>

      <div class='header'>
        <span class='close' ng-click='close()'></span>
        <span class='title'>Rate your Order</span>
      </div>

      <div class='content with-food' ng-if='order'>

        <div class='overlay with-background' ng-style="{ 'background-image': 'url({{food.header_image_url}})' }">
          <div class='sheet'></div>
          <img class='avatar' ng-style="{ 'background-image': 'url({{seller.logo_url}})' }" />
          <div class='person'>
            <h3 class='name'>{{food.title}}</h3>
            <h5 class='email'>By {{seller.name}}</h5>
          </div>
        </div>

        <div class='body'>
          <div class="info error" ng-if='error'><i class="fa fa-info-circle"></i>{{error}}</div>
          <form ng-submit='rate()'>

            <p>{{order.courier.name}} delivered a quantity of {{order.quantity}} for a total of (including tip):</p>

            <div ng-click='decrementTip()' class='fa fa-minus-cicle' ng-disabled='price < order.cost()'></div>
            <h2 class='price'>{{order.cost() | currency}}</h2>
            <div ng-click='incrementTip()' class='fa fa-plus-cicle'></div>

            <rating score='order.rating' max='5' />

            <button ng-if='!rating'>Done</button>
            <fading-circle-spinner ng-if='rating'></fading-circle-spinner>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>
