<div class='container full' id='accounts-container'>
  <fading-circle-spinner ng-if='!fetchedUser'></fading-circle-spinner>

  <div class='account' ng-if='fetchedUser'>
    <h2>Account Information</h2>

    <div class='profile'>
      <img profile-pic='{{user.id}}' class='prof-pic' size='126x126' />

      <div class='details'>
        <div class='name'>{{user.full_name}}</div>
        <div class='email'>{{user.email}}</div>
        <div class='phone'>{{user.phone | tel}}</div>
      </div>
    </div>

    <h2>Payment Information</h2>
    <div class='input payment-info'
        ng-click='editPayment()'
        ng-class='{
          visa: user.card_type == "visa",
          mastercard: user.card_type == "mastercard",
          amex: user.card_type == "amex",
          discover: user.card_type == "discover"
        }'>
         &bull;&bull;&bull;&bull;&nbsp;
         &bull;&bull;&bull;&bull;&nbsp;
         &bull;&bull;&bull;&bull;&nbsp;
         {{user.last_four}}

         <i class='fa fa-pencil edit'></i>
    </div>

    <div class='two-col'>

      <div class='one-col'>
        <h2>Nommit Credit</h2>
        <h3 class='credit'>{{user.credit() | currency }}</h3>
      </div>

      <div class='one-col'>
        <h2>Referral Code</h2>
        <h3 class='code'>{{user.referral_code}}</h3>
      </div>

    </div>

    <form class='promo' name='promoForm' ng-submit='applyPromo()'>
      <input type='text' class='input' ng-model='promo' required  placeholder='Enter Promo Code' />
      <button>Apply</button>
    </form>

  </div>


</div>
