<article ng-controller='ActivateCtrl' class='edit modal activate-page'>
  <form ng-submit='activate()' name='activateForm'>

    <div class='nav-bar'>
      <span class='title'>Activate</span>
      <span class='right-button'><button type='submit' class='fa fa-check' ng-click='startActivating()'></button></span>
    </div>

    <section class='profile'>
      <div class='header'>Profile</div>

      <span class='pic' profile-pic="{{ user.id }}" size='90x90'></span>

      <span class='contact'>
        <div class='name' ng-bind='user.full_name'></div>
        <div class='name' ng-bind='user.email'></div>
        <div class='name'>{{ user.phone | tel }}</div>
        
      </span>
    </section>

    <section class='email-section'>
      <div class='header'>Email</div>

      <fieldset>
        <i class='fa fa-envelope'></i>
        <input type='email' name='email' required ng-model='email' placeholder='example@example.com' />
      </fieldset>
    </section>

    <section class='phone-section'>
      <div class='header'>Phone</div>

      <fieldset>
        <i class='fa fa-phone'></i>
        <input type='tel' class='phone-field' name='phone' required ng-model='phone' placeholder='Your Phone Number' focus />
      </fieldset>
    </section>

  </form>

  <div ui-view class='schools-container' ng-if='page == "dashboard.activate.schools"'></div>
  <div ui-view class='confirm-container' ng-if='page == "dashboard.activate.confirm"'></div>
  <div ui-view class='payments-container' ng-if='page == "dashboard.activate.payment_method"'></div>

  <div class='popup-container' ng-if='isActivating'>

    <div class='popup' ng-hide='error'>
      <h2 class='header'>Saving...</h2>
      <fading-circle-spinner></fading-circle-spinner>
    </div>

    <div class='popup' ng-show='error'>
      <h2 class='header'>An error occurred</h2>
      <p class='message'>{{ error }}</p>
      <button class='button button-primary' ng-click='reset()'>Okay</button>
    </div>

  </div>


</article>
