<article ng-controller='ChooseFoodsCtrl' class='choose-foods-page'>

  <div class='nav-bar-container'>
    <div class='nav-bar'>
      <span class='left-button' ui-sref='dashboard.choose_seller()'><i class='fa fa-arrow-left'></i></span>
      <span class='title'>What're you delivering?</span>
      <span class='right-button' ng-disabled='selectedFoods.length == 0' ui-sref='dashboard.deliver.places({ foods: selectedFoods, seller_id: seller_id })'><i class='fa fa-check'></i></span>
    </div>
  </div>

  <div class='popup-container' ng-if='isLoading'>

    <div class='popup'>
      <h2 class='header'>Loading</h2>
      <fading-circle-spinner></fading-circle-spinner>
    </div>

  </div>

  <section class='choose-foods'>
    <li class='picker' ng-repeat='food in foods' ng-click='toggleFood(food.id)'>
      <span class='name' ng-bind='food.title'></span>
      <span class='badge' ng-style="{ 'background-image': 'url({{ food.thumbnail_image_url }})' }">
        <span class='fa' ng-class='{ "fa-check": selectedFoods.indexOf(food.id) > -1 }'></span>
      </span>

    </li>
  </section>

</article>
