<article ng-controller='DeliveryPlacesCtrl' class='delivery-places'>

  <div class='nav-bar'>
    <span class='left-button' ui-sref='deliver()' ng-if='shift'><i class='fa fa-close'></i></span>
    <span class='left-button' ng-click='toggleDashboard()' ng-if='!shift'><i class='fa fa-close'></i></span>

    <span class='title'>Delivery Locations</span>
    <span class='right-button' ng-click='updateShift()'><i class='fa fa-check'></i></span>
  </div>

  <div class='content'>

    <div class='search-container'>
      <i class='fa fa-search'></i>
      <input type='search' class='search' ng-change='searchPlaces()' ng-model='query' placeholder='Search your location'></input>
    </div>

    <fading-circle-spinner ng-if='!places'></fading-circle-spinner>

    <ul class='places' ng-if='visiblePlaces && visiblePlaces.length > 0'>

      <li class='place' ng-repeat='place in visiblePlaces' ng-click='togglePlace(place.id)'>
        <span class='name' ng-bind='place.name'></span>

        <span class='right-bar'>
          <i class='fa fa-cutlery' ng-if='selectedPlaces.indexOf(place.id) > -1'></i>
        </span>

      </li>
    </ul>

  </div>

  <div class='popup-container' ng-if='isUpdating'>

    <div class='popup' ng-show='!error && !success'>
      <h2 class='header'>Saving...</h2>
      <fading-circle-spinner></fading-circle-spinner>
    </div>

    <div class='popup' ng-show='error'>
      <h2 class='header'>An error occurred</h2>
      <p class='message'>{{ error }}</p>
      <button class='button button-primary' ng-click='reset()'>Okay</button>
    </div>

    <div class='popup' ng-show='success'>
      <h2 class='header'>Updated!</h2>
      <i class='fa fa-check-circle'></i>
    </div>

  </div>

</article>
