<article ng-controller='FoodsCtrl' class='foods-page'>

  <div class='nav-bar-container'>
    <div class='nav-bar' ng-if='!place'>
      <span class='left-button' ng-click='toggleDashboard()'><i class='fa fa-bars'></i></span>
      <span class='title place' ui-sref='dashboard.foods.places'>Pick a Place <i class='fa fa-caret-down'></i></span>
    </div>

    <div class='nav-bar' ng-if='place'>
      <span class='left-button' ng-click='toggleDashboard()'><i class='fa fa-bars'></i></span>
      <span class='title place' ui-sref='dashboard.foods.places'>{{place.name }} <i class='fa fa-caret-down'></i></span>
    </div>
  </div>

  <div class='sub-header' ng-if='school.showMOTD()'>{{ school.motd }}</div>
  <div class='sub-header' ng-if='school.showHours()'><i class='fa fa-calendar'></i> Weekdays {{ school.from() | date:"hh:mm a" }} - {{ school.to() | date:"hh:mm a" }}</div>
  <div class='sub-header' ng-if='school.showSpecialEvents()'><i class='fa fa-calendar'></i> Only for Special Events</div>


  <ul class='content foods'>
    <fading-circle-spinner ng-if='!foods'></fading-circle-spinner>

    <li class='food-container' ng-repeat='food in foods' ng-class="{ 'sold-out': food.isSoldOut(), 'expired': food.isExpired(), 'ended': food.isSaleOver(), 'pending': food.isPending()  }">

      <div class='food' ng-if='food.isOrderable()' ng-click='order(food)'>
        <div class='featured' ng-show='food.featured'></div>
        
        <div class='preview' ng-style="{ 'background-image': 'url( {{ food.header_image_url }})' }">
          
          <span class='overlay'></span>
          
          <div class='profile'>
            <div class='badge' ng-style="{ 'background-image': 'url( {{ food.seller.logo_url }} )' }"></div>
            <div class='details'>
              <div class='title' ng-bind='food.title'></div>
              <div class='seller'>By {{ food.seller.name }}</div>
            </div>
            <div class='price'>{{ food.price() | currency }}</div>
          </div>

        </div>

        <div class='stats'>
          <span class='quantity'>{{ food.order_count }} / {{ food.goal }} left</span>
          <rating class='rating' score='food.rating' max='5' readonly='true'></rating>
          <div class='progress-bar'>
            <div class='progress' ng-style='{ "width": "{{food.progress()}}%" }'></div>
          </div>
        </div>

      </div>

    </li>

  </ul>

  <div ui-view class='order-container' ng-if='page == "dashboard.foods.order"'></div>
  <div ui-view class='places-container' ng-if='page == "dashboard.foods.places"'></div>

  <div class='popup-container' ng-if='isNotifying'>

    <div class='popup' ng-show='!notified'>
      <h2 class='header'>Updating...</h2>
      <fading-circle-spinner></fading-circle-spinner>
    </div>

    <div class='popup' ng-show='notified'>
      <h2 class='header'>We'll Notify You!</h2>
      <i class='fa fa-check-circle'></i>
    </div>

  </div>

  <div class='become-a-seller' ng-class="{ 'sticky': (!foods || foods.length < 2 || isDesktop) }">
    
    <ul class='step-logos'>
      <li><%= image_tag "dashboard/seller/money.png", class: "money" %></li>
      <li><%= image_tag "dashboard/seller/chef.png", class: "chef" %></li>
      <li><%= image_tag "dashboard/seller/people.png", class: "people" %></li>
    </ul>

    <%= image_tag "dashboard/seller/caption.png", class: "caption" %>

    <p class='sales-pitch'>Sellers make at least $15/hour, some make $150/hour. It's a wild time.</p>

    <div ui-sref='dashboard.fundraise()' class='button button-primary'>Learn More</div>

  </div>
</article>
