<article ng-controller='FoodsCtrl' class='foods-page'>

  <div class='nav-bar' ng-if='!place'>
    <span class='left-button' ng-click='toggleDashboard()'><i class='fa fa-bars'></i></span>
    <span class='title place' ui-sref='foods.places'>Pick a Place <i class='fa fa-caret-down'></i></span>
  </div>

  <div class='nav-bar' ng-if='place'>
    <span class='left-button' ng-click='toggleDashboard()'><i class='fa fa-bars'></i></span>
    <span class='title place' ui-sref='foods.places'>{{place.name | titleize }} <i class='fa fa-caret-down'></i></span>
  </div>

  <ul class='content foods'>
    <h2 class='no-food' ng-if='foods && foods.length == 0'>Nommit is on Thanksgiving break!</h2>
    <fading-circle-spinner ng-if='!foods'></fading-circle-spinner>

    <li class='food-container' ng-repeat='food in foods' ng-class="{ 'sold-out': {{ food.isSoldOut() }}, 'expired': {{ food.isExpired() }}, 'ended': {{ food.isSaleOver() }}, 'pending': {{ food.isPending() }}  }">

      <div class='seller-logo' ng-style='{ "background-image": "url({{ food.seller.logo_url }})" }'></div>

      <div class='food' ng-if='food.isOrderable()' ng-click='order(food)'>

        <div class='top-bar'>
          <span class='seller-name'>{{ food.seller.name }}</span>

          <span class='time-left'>
            <i class='fa fa-clock-o'></i>
            <timer end-time='food.endDate()'>{{hhours}}:{{mminutes}}:{{sseconds}} left</timer>
          </span>
        </div>

        <div class='preview' ng-style='{ "background-image": "url({{ food.thumbnail_image_url }})" }'></div>

        <div class='details-container'>

          <div class='info'>
            <h3 class='name'>{{ food.title }}</h3>
            <h3 class='price'>{{ food.price() | currency }}</h3>
          </div>

          <div class='status'>
            <span class='quantity'>{{ food.order_count }}/{{ food.goal }} left</span>
            <rating class='rating' score='food.rating' max='5' readonly='true'></rating>
          </div>

          <div class='progress-bar'>
            <span class='progress' ng-style='{ "width": "{{ food.progress() }}%" }'></span>
          </div>

        </div>

      </div>

      <div class='food' ng-if='food.isSoldOut() || food.isExpired() || food.isSaleOver()'>

        <div class='top-bar'>
          <span class='seller-name'>{{ food.seller.name }}</span>

          <span class='time-left'>
            <i class='fa fa-clock-o'></i>
            <span class='end-date'>{{ food.endDate() | date:"mediumTime"}}
          </span>
        </div>

        <div class='preview' ng-style='{ "background-image": "url({{ food.thumbnail_image_url }})" }'></div>

        <div class='details-container'>

          <div class='info'>
            <h3 class='name'>{{ food.title }}</h3>
            <h3 class='price'>{{ food.price() | currency }}</h3>
          </div>

          <div class='status'>
            <span class='quantity'>{{ food.order_count }}/{{ food.goal }} left</span>
            <rating class='rating' score='food.rating' max='5' readonly='true'></rating>
          </div>

          <div class='progress-bar'>
            <span class='progress' ng-style='{ "width": "{{ food.progress() }}%" }'></span>
          </div>

        </div>

      </div>

      <div class='food pending' ng-if='food.isPending()'>

        <div class='top-bar'>
          <span class='seller-name'>{{ food.seller.name }}</span>

          <span class='time-left'>
            <i class='fa fa-clock-o'></i>
            <span class='end-date'>{{ food.startDate() | date:"mediumTime"}}
          </span>
        </div>

        <div class='preview' ng-style='{ "background-image": "url({{ food.thumbnail_image_url }})" }'>
          <div class='pending-overlay' ng-if='food.isPending()'><timer end-time='food.startDate()'>{{hhours}}:{{mminutes}}:{{sseconds}}</timer></div>
        </div>

        <div class='details-container'>

          <div class='info'>
            <h3 class='name'>{{ food.title }}</h3>
            <h3 class='price'>{{ food.price() | currency }}</h3>
          </div>

          <button class='button button-primary' ng-disabled='notified' ng-click='notifyMe()'>{{ notified ? "We'll Notify You" : "Notify Me" }}</div>

        </div>


      </div>

    </li>

  </ul>

  <div ui-view class='order-container' ng-if='page == "foods.order"'></div>
  <div ui-view class='places-container' ng-if='page == "foods.places"'></div>

  <div class='popup-container' ng-if='isNotifying'>

    <div class='popup' ng-show='!notified'>
      <h2 class='header'>Updating...</h2>
      <fading-circle-spinner></fading-circle-spinner>
    </div>

    <div class='popup' ng-show='notified'>
      <h2 class='header'>We'll Notify You!</h2>
      <i class='fa fa-check-circle'></i>
    </div>

  </div>
</article>
