<article ng-controller='SupportCtrl'>
  <div class='nav-bar'>
    <span class='left-button' ng-click='toggleDashboard()'><i class='fa fa-bars'></i></span>
    <span class='title'>Sell</span>
  </div>

  <%= image_tag "nommit-logo.png", class: "logo" %>
  <p class='muted'>Students and organizations make thousands of dollars <br /> selling food on Nommit</p>

  <div class='button-group'>
    <button class='button button-primary' ng-click='email()'>Email us to learn more</button>
  </div>

  <div class='popup-container' ng-if='popup'>

    <div class='popup' ng-show='emailing'>
      <h2 class='header'>Email Us</h2>
      <p class='message'>Email us at: <strong>support@getnommit.com</strong></p>

      <button class='button button-primary' ng-click='reset()'>Okay</button>
    </div>

  </div>

</article>
