<div class='container' id='orders-container'>
  <fading-circle-spinner ng-if='!fetchedOrders'></fading-circle-spinner>

  <div class='no-content' ng-if='fetchedOrders && orders.length == 0 && !fetching'>
    <h2>You haven't placed any orders!</h2>
    <h2>Place an order at the <a ui-sref="foods()">Menu</a>.</h2>
    <div class='no-content-available'></div>
  </div>

  <div class='rows' id='orders'>
    <div class='row-container' ng-repeat='order in orders'>

      <div class='preview'>
        <div class='image' ng-style="{ 'background-image': 'url({{order.food.header_image_url}})' }">
          <img profile-pic='{{order.courier.user.id}}' size='120x120' class='overlay courier' />
          <img ng-src='{{order.food.seller.logo_url}}' class='overlay seller' />
          <div class='overlay price-container'>
            {{order.cost() | currency }}
          </div>
        </div>
      </div>

      <div class='row order active' ng-if='order.isActive()'>

        <div class='overview'>
          <p class='description'>
            <strong>{{order.courier.user.name}}</strong> is delivering
            <strong>{{order.quantity}}</strong> order(s) of
            <strong>{{order.food.title}}</strong> from
            <strong>{{order.food.seller.name}}</strong> to you for
            <strong>{{order.cost() | currency }}</strong>.
          </p>
        </div>

        <div class='well' ng-show='!order.isLate()'>
          <h3 class='muted'>Arriving at <strong>{{order.place.name}}</strong> in:</h3>
          <timer class='eta' end-time='order.deliveredAt().getTime()'>{{mminutes}}:{{sseconds}}</timer>
        </div>

        <div class='well' ng-show='order.isLate()'>
          <h3 class='muted'>Arriving at <strong>{{order.place.name}}</strong> in:</h3>
          <h2 class='eta'>Any Minute now</h2>
        </div>

        <div class='footer'>
          <h4>Wondering where your courier is?</h4>
          <h3 class='phone'><a ng-href='tel://{{order.courier.user.phone}}'>{{order.courier.user.phone | tel}}</a></h3>
        </div>

      </div>

      <div class='row order arrived' ng-if='order.isArrived()'>

        <div class='overview'>
          <p class='description'>
            <strong>{{order.courier.user.name}}</strong> is delivering
            <strong>{{order.quantity}}</strong> order(s) of
            <strong>{{order.food.title}}</strong> from
            <strong>{{order.food.seller.name}}</strong> to you for
            <strong>{{order.cost() | currency }}</strong>.
          </p>
        </div>

        <div class='well'>
          <h3 class='muted'>Arrived at <strong>{{order.place.name}}</strong></h3>
          <h2 class='eta'>Pick Up in Lobby</h2>
        </div>

        <div class='footer'>
          <h4>Wondering where your courier is?</h4>
          <h3 class='phone'><a ng-href='tel://{{order.courier.user.phone}}'>{{order.courier.user.phone | tel}}</a></h3>
        </div>

      </div>

      <div class='row order delivered' ng-if='order.isDelivered() || order.isRated()'>

        <div class='overview'>
          <p class='description'>
            <strong>{{order.courier.user.name}}</strong> delivered
            <strong>{{order.quantity}}</strong> order(s) of
            <strong>{{order.food.title}}</strong> from
            <strong>{{order.food.seller.name}}</strong> to you for
            <strong>{{order.cost() | currency }}</strong>.
          </p>
        </div>

        <div class='well'>
          <h3 class='muted'>Delivered to <strong>{{order.place.name}}</strong> at:</h3>
          <h2 class='eta'>{{order.deliveredAt() | date:"MMMM dd 'at' hh:mm a"}}</h2>
        </div>

        <div class='footer'>
          <h4 class='muted'>You Rated It:</h4>
          <rating score='order.rating' max='5' readonly='true' />
        </div>

      </div>


    </div>
  </div>
</div>
