<article ng-controller='PlacesCtrl'>

  <div class='nav-bar-container'>
    <div class='nav-bar'>
      <span class='left-button' ui-sref='dashboard.foods()'><i class='fa fa-close'></i></span>
      <span class='title'>Delivery Locations</span>
    </div>
  </div>

  <div class='content'>

    <div class='search-container'>
      <i class='fa fa-search'></i>
      <input type='search' class='search' ng-change='searchPlaces()' ng-model='query' placeholder='Search your location'></input>
    </div>

    <fading-circle-spinner ng-if='!places'></fading-circle-spinner>

    <ul class='list places' ng-if='places && places.length > 0'>

      <li class='place' ng-repeat='place in places' ng-click='setPlaceID(place.id)'>
        <span class='name'>{{place.name}}</span>

        <span class='right-bar'>
          <span>{{place.food_count}}</span>
          <i class='fa fa-cutlery'></i>
        </span>

      </li>
    </ul>

    <div class='no-food' ng-show='places && places.length == 0 && !query'>
      <div>Not currently offering food!</div>
      <div>Please check back tonight at 8 PM</div>
    </div>

    <div class='no-food' ng-show='places && places.length == 0 && query'>
      <div>Can't find food being delivered there <i class='fa fa-frown-o'></i></div>
    </div>

    <span class='muted'>Missing your delivery location? <a href='mailto:support@getnommit.com?subject=Missing a delivery location'>Request it</a></span>



  </div>

</article>
