<article ng-controller='SchoolsCtrl' class='edit modal'>

  <div class='nav-bar-container'>
    <div class='nav-bar'>
      <span class='left-button' ui-sref='dashboard.account()' ng-if='page == "dashboard.account.schools"'><i class='fa fa-close'></i></span>
      <span class='title'>Pick your School</span>
    </div>
  </div>

  <div class='content'>

    <div class='search-container'>
      <i class='fa fa-search'></i>
      <input type='search' class='search' ng-change='searchSchools()' ng-model='query' placeholder='Search for your school'></input>
    </div>

    <fading-circle-spinner ng-if='!schools'></fading-circle-spinner>

    <ul class='list schools' ng-if='schools && schools.length > 0'>

      <li class='school' ng-repeat='school in schools' ng-click='setSchoolID(school.id)'>
        <span class='name'>{{school.name}}</span>
      </li>
    </ul>

    <span class='muted'>Can't find your school? <a href='mailto:support@getnommit.com?subject=Please launch at my school'>Request it</a></span>

    <div class='no-food' ng-show='schools && schools.length == 0'>
      <div>Nommit isn't at any school by that name!</div>
    </div>

  </div>

  <div class='popup-container' ng-if='isSaving'>

    <div class='popup' ng-hide='didSave || error'>
      <h2 class='header'>Saving...</h2>
      <fading-circle-spinner></fading-circle-spinner>
    </div>

    <div class='popup' ng-show='didSave'>
      <h2 class='header'>Saved!</h2>
      <i class='fa fa-check-circle'></i>
    </div>

    <div class='popup' ng-show='error'>
      <h2 class='error'>An error occurred</h2>
      <p class='message'>{{ error }}</p>
      <button class='button button-primary' ng-click='reset()'>Okay</button>
    </div>

  </div>

</article>


