<article ng-controller='SupportCtrl'>
  
  <div class='nav-bar-container'>
    <div class='nav-bar'>
      <span class='left-button' ng-click='toggleDashboard()'><i class='fa fa-bars'></i></span>
      <span class='title'>Become a Seller</span>
    </div>
  </div>

  

</article>
