<article ng-controller='SupportCtrl' class='support-page'>
  
  <div class='nav-bar-container'>
    <div class='nav-bar'>
      <span class='left-button' ng-click='toggleDashboard()'><i class='fa fa-bars'></i></span>
      <span class='title'>Become a Seller</span>
    </div>
  </div>

  <div class='pitch'>Make from $15/hour to over $150/hour <br /> selling food people want.</div>

  <ul class='points'>
    <li class='get-food'>
      <div class='header'>Get Food</div>
    </li>
    <li class='prepare-food'>
      <div class='header'>Prepare Food</div>
    </li>
    <li class='deliver-food'>
      <div class='header'>Deliver Food</div>
    </li>
    <li class='profit'>
      <div class='header'>Profit</div>
    </li>
  </ul>


  
</article>
