.ribbon {
  @include outer-container;
  text-align: center;
  img {
    height: 46px;
    width: 100%;
    max-width: 525px;
  }
}

#foods-container {
  margin-top: 14px;
  text-align: center;
  @include outer-container;
  width: 600px;
}
#foods {
  @include span-columns(12);
  .food-container {
    $border-radius: 4px;
    width: 279px;
    border-radius: $border-radius;
    text-align: left;
    .food {
      text-align: left;
      background-color: white;
      border-radius: $border-radius;
      border: 1px solid #E9E9E9;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      .overview {
        margin-left: 74px;
        margin-bottom: 13px;
        .title {
          margin-top: 8px;
          font-weight: 300;
          line-height: 15px;
          color: #767676;
          font-size: 12pt;
        }
        .seller-name {
          margin-top: 8px;
          line-height: 9px;

          font-size: 9pt;
          color: #434040;
        }
      }
      .details {
        padding: 11px;
        background-color: #FCFCFC;
        border-top: 1px solid #E9E9E9;
        border-bottom: 1px solid #E9E9E9;
        box-shadow: inset 0px 1px 4px solid rgba(232,232,232,0.19);

        .description {
          font-size: 10pt;
          font-weight: 300;
        }

        .status {
          margin-top: 15px;
          margin-bottom: 10px;
          .stats {
            margin-bottom: 5px;
            color: #828282;
            font-weight: 300;
            .sold {
            }
            .rating {
              float: right;
            }
          }
          .progress-bar {
            background-color: #F0F0F0;
            height: 12px;
            border-radius: 6px;
            width: 100%;
            display: block;
            overflow: hidden;
            .progress {
              background-color: $brand-green;
              height: 12px;
              display: block;
            }
          }
        }

      }
      .order {
        padding: 9px;
        width: 100%;
        .price {
          margin-bottom: 10px;
          color: $brand-green;
          font-weight: 400;
          display: inline-block;
        }
        .quantity-container {
          margin-top: 14px;
          padding: 0px;
          border: none;
          float: right;
          display: block;
          label {
            font-weight: 300;
            color: #888888;
            margin-right: 5px;
            font-size: 8pt;
          }
          .quantity {
            padding: 10px;
            border: 1px solid #CCC;
            font-size: 10pt;
            font-weight: 300;
          }
        }

        .place-order {
          display: block;
          width: 100%;
          background-color: #42B7BB;
          border: 1px solid $brand-green;
          color: white;
          padding: 10px 15px;
          font-size: 12pt;
          border-radius: 5px;
          outline: none;
          &:hover {
            background-color: darken(#42B7BB, 10%);
            border: 1px solid darken($brand-green, 10%);
            cursor: pointer;
          }
          &:active {
            outline: none;
          }
        }
      }
    }
    .preview {
      border-left: 1px solid #E9E9E9;
      border-right: 1px solid #E9E9E9;
      .food-preview {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        width: 100%;
        height: 172px;
        background-size: cover;
        position: relative;
      }
      .seller-logo {
        padding: 2px;
        background-color: white;
        border-radius: 30px;
        position: absolute;
        z-index: 10;
        left: 10px;
        bottom: -50px;
        width: 60px;
        height: 60px;
      }

    }

  }
  .food-container:nth-child(odd) {
    float: left;
  }
  .food-container:nth-child(even) {
    float: right;
  }
}
