.login {
  margin: 20px auto;
  margin-top: 0px;
  padding: 40px;
  text-align: center;
  border-radius: 4px;
  max-width: 600px;
  max-height: 400px;
  background-image: image-url("dashboard/login/loginbg.png");
  background-size: 100% 100%;
}

.login-with-facebook {
  max-width: 350px;
  width: 100%;
  border-radius: 3px;
  @include linear-gradient(-179deg, #335DBD, #2D56B2);
  background-color: #335DBD;
  border: 1px solid #11284D;
  box-shadow: inset 0px 1px 3px 0px #213F80;
  font-weight: 500;
  font-size: 16pt;
  padding: 10px 15px;
  text-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.69);
  color: white;
  line-height: 33px;

  border-radius: 3px;

  &:hover {
    cursor: pointer;
    @include linear-gradient(-179deg, darken(#335DBD, 10%), darken(#2D56B2, 10%));
  }
}



#login-form {

  .nommit-logo {
    margin: 0 auto;
    max-width: 268px;
    width: 100%;
    height: 65px;
  }

  .info {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
    line-height: 36px;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
  }

  .login-with-facebook {
    margin: 0 auto;
    text-align: center;
  }

  .fading-circle-spinner {
    margin: 15px auto;
    padding: 17px;
    .fading-circle {
      &:before {
        background-color: #CCC;
      }
    }
  }

  .error {
    margin-top: 16px;
    color: white;
    font-size: 16px;
    text-shadow: none;
  }

}
