$nav-padding: 14px 14px;
$nav-max-width: 800px;

.wrapper {
  min-height: 100%;
  display: block;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  background-color: #F8F8F8;
}

.nav-container {
  header,footer {
    @include outer-container;
    text-align: center;
    max-width: $nav-max-width;
    width: 100%;
    nav {
      @include span-columns(3);
      text-align: right;
      a {
        font-size: 12pt;
        margin-right: 8px;
      }

    }
  }
}

#header-container {
  border-bottom: 1px solid #C7C7C7;
  background: white;
  padding: $nav-padding;
  &.sticky {
    position: fixed;
    display: block;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 999;
    margin-bottom: 79px;
  }
}


#header {
  .mobile-nav { display: none; }
  .brand {
    @include span-columns(3);
    text-align: left;
    .logo {
      height: 30px;
      margin-bottom: 5px;
    }
    .tagline {
      font-weight: 300;
      color: $faded-text;
      font-size: 10pt;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .delivery-box {
    text-align: center;
    font-size: 17pt;
    font-weight: 200;
    color: #363637;
    @include span-columns(6);
    position: relative;
    top: 11px;
  }

  nav {
    position: relative;
    top: 14px;
    .active {
      color: $brand-green;
      border-bottom: 1px dotted $brand-green;
      &:hover {
        border-bottom: 1px solid $brand-green;
      }
    }
  }
}

#footer-container {
  background-color: #3e3e3e;
  footer {
    a, p {
      margin-top: 0px;
      margin-bottom: 10px;
      color: #BABABA;
      font-size: 12pt;
      font-weight: 200;
      text-shadow: none;
    }
    a {
      margin-top: 13px;
      border-bottom: 1px dotted #BABABA;
      &:hover {
        border-bottom: 1px solid #BABABA;
      }
    }

    .apply a {
      color: $brand-green;
      border-bottom: 1px dotted $brand-green;
      &:hover {
        border-bottom: 1px solid $brand-green;
      }
    }

    .appstore {
      @include span-columns(3);
      height: 40px;
      margin-top: 9px;
      border: none;
      &:hover { border: none; }

    }

    .copyright {
      @include span-columns(6);
      text-align: center;
      font-size: 12pt;
      color: #BABABA;
      font-weight: 200;
      margin-top: 20px;
    }

    nav {
      margin-top: 16px;
    }

  }
}

#place-input {
  margin: 0 auto;
  width: 300px;
  height: 50px;
  font-size: 18px;
  color: darken(#9797A3, 30%);
  line-height: 20px;
  padding-left: 60px;
  font-weight: 200;
  overflow: hidden;
  border: 1px solid white;
  box-shadow:  inset 0px 2px 1px 0px white;
  @include linear-gradient(-179deg, #FFFFFF, 0%, #F1F1F1, 100%);
  background-image: image-url("placesearch.png");
  display: inline-block;
  @include retina-image(placesearch, 300px 50px);
  @include placeholder {
    padding-top: 0px;
    color: #9797A3;
  }
}

#place {
  display: inline-block;
  color: $brand-green;
  border-bottom: 1px $brand-green dotted;
  font-size: 17pt;
  @include user-select(none);
  &:hover {
    cursor: pointer;
    border-bottom: 1px $brand-green solid;
  }
}

#place-select {
  text-align: left;
  margin: 0 auto;
  background-color: #F9F9F9;
  border: 1px solid white;
  box-shadow: inset 0px 2px 1px 0px white;
  padding: 20px 15px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  width: 300px;
  list-style: none;
  overflow: scroll;
  max-height: 325px;
  .place {
    padding: 8px;
    border-bottom: 1px dotted #979797;
    box-shadow: 0px 0px 1px 0px rgba(255,255,255,0.5);
    color: #6F6F79;
    font-size: 18px;
    font-weight: 200;
    display: block;
    width: 100%;
    .fa {
      margin-top: 2px;
      float: right;
    }
    &:hover {
      background-color: lighten(#F9F9F9, 1%);
      border-bottom: 1px solid #979797;
      cursor: pointer;
      color: #39393A;
    }

  }
}

#place-select-container {
  margin: 0 auto;
  padding: 20px 10px;
  position: fixed;
  background-color: rgba(0,0,0,0.75);
  height: 100%;
  width: 100%;
  top: 78px;
  left: 0px;
  z-index: 100;
  text-align: center;
  @include animation(fadeIn 0.25s ease-in-out);
  @include backface-visibility(visible);
  .footer {
    font-size: 12px;
    color: #6F6F79;
    line-height: 20px;
    display: inline-block;
    width: 300px;
    background-color: #F9F9F9;
    margin-top: -180px;
    padding: 15px;
  }
}


@include media($mobile) {
  .header-controller { height: auto; position: fixed; display: block; width: 100%; }
  #header-container {
    position: absolute;
    z-index: 9999;

    // Undo inherited styles.
    margin: 0 auto;
    height: auto;
    background-color: white;
    text-align: left;
    height: auto;
    padding: 0px;

    // Hide irrelevant content.
    .brand {
      display: none;
    }
    nav {
      display: none;
    }

    padding-left: 5px;
    padding-right: 5px;
    @include span-columns(5);
    border-bottom: 1px solid rgba(255,255,255,0.75);
    .delivery-box {
      @include span-columns(4);
      position: static;
      top: 0px;
      padding: 11px 0px;
    }
    .delivery-box, .delivery-box span, #place { font-size: 12pt; }
    .mobile-nav {
      display: inline-block;
      color: #C3C3C3;
      float: left;
      padding: 9px;
      font-size: 14pt;
      &:hover, &:active {
        color: #363637;
        cursor: pointer;
      }
    }

    #place-select-container {
      top: 40px;
    }
    &.sticky {
      margin-bottom: 40px;
    }

    nav.mobileNavVisible {
      display: block;
      background-color: #464646;
      position: absolute;
      left: 0px;
      top: 40px;
      width: 100%;
      text-align: left;
      @include animation(fadeIn 0.15s linear);
      @include backface-visibility(visible);
      z-index: 9999;
      a {
        margin: 0px;
        display: block;
        color: #CCC;
        text-shadow: none;
        border-bottom: none;
        font-size: 14pt;
        padding: 10px;
        padding-left: 14px;
        @include user-select(none);
        i {
          float: right;
        }
        &.active, &:hover {
          color: #EEE;
          border-bottom: none;
        }
        &.active { background-color: #333; }
        &:hover { background-color: $brand-green; }
      }
    }

  }

  .ribbon {
    margin-top: 40px;
  }

  #footer-container {
    a, p {
      font-size: 8pt;
    }
  }

}
