#orders {

  .preview {
    margin: 0 auto;
    text-align: center;
  }
  .overlay {
    margin-top: 145px;
    position: static;
    display: inline-block;
    left: 0px;
    margin-right: 10px;
    margin-left: 10px;
    &.price-container {
      background-color: $brand-green;
      color: white;
      border: 2px solid white;
      font-size: 16px;
      height: auto;
      width: auto;
      max-width: 61px;
      text-overflow: ellipsis;
      padding: 18px 6px;
      position: relative;
      top: -24px;
    }
  }

  .row {
    padding: 15px;
    color: darken(#6C6C6C, 10%);
    .overview {
      .description { margin-top: 25px; font-size: 8pt; }
      strong { font-weight: 400; }
    }

    .well {
      margin: 15px -15px;
      padding: 15px;
      text-align: center;
      .muted { font-size: 10pt; }
      .muted, .eta {
        margin-bottom: 10px;
      }
      .eta {
        margin-top: 5px;
        color: #696969;
      }
    }

    .footer {
      text-align: center;
      .weak {
        font-size: 8pt;
      }
      .rating {
        margin-top: 10px;
        a { color: $brand-green; cursor: default; font-size: 14pt; }
      }
      .phone a {
        padding-bottom: 2px;
      }
    }

    &.arrived {
      .eta {
        @include animation(flash 1.5s linear);
        @include animation-iteration-count(infinite);
        @include backface-visibility(visible);
      }
    }



  }



}


@include keyframes(flash) {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
