#rate-order {
  .body form {

    .description {
      margin-top: 27px;
      p {
        margin-top: 0px;
      }
    }
    p {
      font-size: 10pt;
    }

    .price {
      padding: 0px;
    }

    .rating {
      margin-top: 5px;
      font-size: 32pt;
      a:hover {
        cursor: pointer;
      }
    }

    .total {
      @include user-select(none);
      margin: 40px auto;
      display: table;
      text-align: center;
      h2 {
        padding: 0px;
        font-size: 35pt;
        display: table-cell;
      }
      .tip, h2 { vertical-align: middle; height: 40px; padding: 0px 10px; }
      .tip {
        padding-top: 1px;
        font-size: 20pt;
        display: table-cell;
        &:hover {
          color: $brand-green;
          cursor: pointer;
        }
        &[disabled] {
          opacity: 0.5;
          color: $content-color;
          pointer-events: none;
        }
      }
      .tip .fa { position: static; }
    }


  }

}
