<div class='content'>
  <p>Hey <%= @user.first_name %>,</p>

  <p><strong><%= @credit %> has been applied to your account</strong>. Thanks for using <%= link_to "Nommit", root_url %>!</p>

  <p>- Nommit</p>
</div>
