<p>Hi <%= @user.name %>,</p>
<p>Thanks for applying to become a seller on Nommit! Your application has been submitted, and we will contact you with further instructions within 48 hours.</p>
<p>In the meantime, If you have any questions, feel free to reply to this email.</p>