<p>Hi <%= @user.first_name %>, <br /> <br />

Thanks for letting us know you’re interested in selling food on Nommit. <br /> <br />

The next step is for us to set up a time to Skype with you to explain how it all works in more detail.<br /> <br />

We’ll explain everything from what Nommit is, to how to use the app to sell food, to how to coordinate selling on Nommit, to what sorts of foods typically work well.<br /> <br />

It shouldn’t take more than 15 minutes. What are three times you’re free to chat over Skype next week?<br /> <br />

Best, <br />
Jarred</p>