<p><%= link_to @user.name, admin_user_url(@user.id) %> has expressed interest in becoming a seller on Nommit! Please email with a follow up ASAP.</p>
<p><strong>Don't reply to this email.</strong></p>