<p>Hi <%= @user.first_name %>,</p>

<p>Your order of <%= @order.food.title %> to <%= @order.place.name %> has been cancelled and you won't be charged. This could be because the courier couldn't find you at the delivery location after already trying, or because you cancelled it yourself.</p>

<p>If this is a mistake or if you have any questions, feel free to reply to this email.</p>