@import "font-awesome-sprockets";
@import "font-awesome";

@import "bourbon";
@import "neat";

@import "dashboard/third-party/angular-spinkit.min";
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);

$popup-z-index: 12;
$sticky-z-index: 11;
$subview-z-index: 12;
$modal-z-index: 10;
$popup-z-index: 20;
$content-z-index: 5;

$asset-pipeline: true;

$default-color: #836864;
$selected-color: #4EC2C7;
$light-color: #767676;
$ultralight-color: #828282;
$cmu-red: #C20929;

$offwhite-background: #F3F1F1;

$brand-green: #42B7BB;

$popup-paragraph: #3C3C3C;

$bold-font: bold;
$light-font: 300;
$thin-font: 200;

$header-width: 288px;
$header-background: rgba(25,17,16,.5);

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.no-scrolling {
  overflow-x: hidden; 
  overflow-y: hidden;
}


@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


html,body {
  margin: 0 0;
  padding: 0px;
  min-height: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: $offwhite-background;
}

body.modal-visible {
  overflow: hidden !important;
}

h1,h2,h3,h4,h5,h6 { margin: 0 0; padding: 0px; }

* {
  @include box-sizing(border-box);
  font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", serif;
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

select {
  @include appearance(none);

  display: block;
  margin-top: 10px;
  padding: 4px 4px;
  padding-right: 25px;
  padding-left: 10px;
  text-align: center;
  border-radius: 0px;

  font-size: 14pt;
  font-weight: normal;
  color: black;

  background-color: white;
  border: 1px solid #E5E5E5;
  outline: none;

  &:hover, &:active {
    border: 1px solid darken(#E5E5E5, 15%);
    cursor: pointer;
    color: $brand-green;
  }

}
.select-caret {
  @extend .fa;
  @extend .fa-caret-down;

  font-size: 10pt;
  display: block;
  color: black;
  position: relative;
  left: -10px;
  top: -23px;

  pointer-events: none;
}

label {
  font-size: 10pt;
  color: #B9AFAD;
}

p {
  margin: 0 auto;
  padding: 0px;
  font-size: 12pt;
  font-weight: 400;
}

input {
  border: 1px solid #BABABA;
  @include appearance(none);
  border-radius: 0px;
  box-shadow: none;
  outline: none;
}

fieldset {
  border: none;
  text-align: left;
  padding: 0px;
  margin: 0px;
}


.button {
  &.button-primary {
    background-color: $brand-green;
    border: 1px solid darken($brand-green, 5%);
    color: white;

    &:hover, &:active {
      background-color: darken($brand-green, 5%);
      border: 1px solid darken($brand-green, 10%);
      cursor: pointer;
    }
  }
  &[disabled] {
    opacity: 0.5;
  }
  text-align: center;
  padding: 10px 0px;
  display: block;
  width: 100%;

  font-size: 16pt;

  @include transition(all 0.15s ease-out);
  // @include transition(background-color 0.15s ease-out);
  @include appearance(none);
  outline: none;
  border: 1px solid ;

  @include user-select(none);

  border: 1px solid #929292;
  background-color: #F3F3F3;
  color: $light-color;

  &:hover {
    border: 1px solid darken(#929292, 5%);
    background-color: lighten(#F3F3F3, 10%);
    cursor: pointer;
  }
}


.rating {
  color: $brand-green;
  font-size: 8pt;
}

.progress-bar {
  display: block;
  background-color: #F0F0F0;
  height: 8px;
  border-radius: 4px;
  width: 100%;
  .progress {
    border: 1px solid #379A9E;
    background-color: $brand-green;
    height: 8px !important;
    max-width: 100%;
    display: block;
    padding: 1px;
    border-radius: 4px;

  }

}

.food-preview.full-screen {
  position: relative;
  height: 192px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:after {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 192px;
    width: 100%;
    @include linear-gradient(-179deg, rgba(0,0,0,0.00) 30%, rgba(0,0,0,0.15) 44%, rgba(0,0,0,0.13) 71%, rgba(0,0,0,0.80) 100%);
    z-index: 2;
    content: " ";
  }

  .overlay {
    position: absolute;
    height: 192px;
    z-index: 3;
    padding: 15px;
    max-width: 100%;
    width: 100%;
    // border-bottom: 1px solid
  }

  .back-button {
    font-size: 16pt;
    color: white;
  }

}

.badge {
  height: 86px;
  width: 86px;
  padding: 0px;
  border-radius: 43px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid white;
  background-color: white;

  display: inline-block;

  &.price {
    background-color: $brand-green;
    color: white;
    font-size: 18pt;
  }
}

.badge-list {
  margin: 0 auto;

  text-align: center;
  display: table;

  border-collapse: separate;
  border-spacing: 15px;
  padding-left: 0px;

  .badge {
    margin-left: 15px;

    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

}

.back-button {
  color: white;
  &:hover {
    cursor: pointer;
    color: $brand-green;
  }
}

.popup-container {
  margin: 0 auto;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: $popup-z-index;

  background-color: rgba(25,17,16,0.5);
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow-y: scroll;

  &.ng-enter {
    @include backface-visibility(visible);
    opacity: 0;
    @include animation(fadeIn 0.25s ease-in);
  }

  &.ng-leave {
    @include backface-visibility(visible);
    @include animation(fadeOut 0.25s ease-in);
  }

  .popup {
    text-align: center;
    padding: 15px;
    @include vertical-align;

    background-color: white;

    display: inline-block;

    border-radius: 2px;
    border: 1px solid #979797;
    box-shadow: 0px 0px 25px 2px rgba(35,35,35,0.5);

    width: 296px;

    overflow: hidden;

    .fading-circle-spinner {
      margin: 20px auto;
      padding: 25px;
      .fading-circle::before { background-color: $brand-green; }
    }

    .fa-check-circle {
      padding: 15px;
      font-size: 32pt;
      color: $brand-green;
    }

    .header {
      margin: 0px auto;
      color: black;
      font-size: 14pt;
    }

    .message {
      color: $popup-paragraph;
      font-weight: $light-font;
      font-size: 12pt;
      margin: 15px auto;
      strong {
        color: $default-color;
      }
    }

    .button {
      font-size: 12pt;
      font-weight: $light-font;
      width: 100%;
      display: block;
    }

    .button-group {
      button {
        margin-top: 0px;
        display: inline-block;
        width: 45%;
        margin-right: 5px;
      }
    }

  }
}

.modal {
  text-align: left;
  min-height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: $modal-z-index;
  height: auto;
  display: block;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  background-color: #FBFBFB;
  &.ng-enter {
    @include animation(slideUpModal 0.4s ease-out);
  }

  &.ng-leave {
    @include animation(slideDownModal 0.4s ease-in);
  }



  .error {
    .fa-info-circle { margin-right: 4px; }
    color: #AD0505;
  }
}

.subview {
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 100%;
  height: auto;
  width: 100%;
  display: block;
  background-color: white;

  z-index: $subview-z-index;

  &.ng-enter {
    @include animation(slideInModal 0.35s ease-out);
  }
  &.ng-leave {
    @include backface-visibility(visible);
    @include animation(slideOut 0.35s ease-in);
  }
}

@include keyframes(fadeOut) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(slideOut) {
  0% {
    @include transform(translateX(0%));
  }
  100% {
    @include transform(translateX(100%));
  }
}

@include keyframes(slideInModal) {
  0% {
    @include transform(translateX(100%));
  }
  100% {
    @include transform(translateX(0%));
  }
}
@include keyframes(slideUpModal) {
  0% {
    @include transform(translateY(100%));
  }
  100% {
    @include transform(translateY(0px));
  }
}

@include keyframes(slideDownModal) {
  0% {
    @include transform(translateY(0%));
  }
  100% {
    @include transform(translateY(100%));
  }
}

// Hacky ken-burns zoom
@include keyframes(kenburns) {
  0% {
    transform: scale(1);
    background-position: 10%;
  }
  100% {
    transform: scale(1.5);
    background-position: 60%;
  }
}

.header-container {
  margin: 0 auto;
  text-align: left;
  background-color: $header-background;
  position: fixed;
  z-index: $modal-z-index;
  width: 100%;
  min-height: 100% !important;
  height: auto;
  display: block;
  overflow-y: scroll;

  header {
    background-color: white;
    color: $default-color;
    font-size: 14pt;
    min-height: 100% !important;
    height: auto;
    display: block;
    width: $header-width;
    position: absolute;

    z-index: $modal-z-index;


    .brand {
      @include retina-image("dashboard/header/top", $header-width 187px);
      height: 187px;
      width: $header-width;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      .back-button {
        padding: 15px;
        font-size: 18pt;
      }
    }

    li {
      margin: 34px 0px;
      .fa {
        width: 20px;
        display: inline-block;
        vertical-align: middle;
      }
      span {
        margin: 0px auto;
        margin-left: 28px;
        text-overflow: ellipsis;
        white-space: nowrap;

        display: inline-block;

        max-width: 200px;
        overflow: hidden;
        vertical-align: middle;
      }
      &:hover, &.active {
        color: $selected-color;
        cursor: pointer;
      }
    }

    nav, .orders {
      padding: 0px 17px;
      list-style: none;
    }

    .pending-orders {

      .fading-circle-spinner {
        margin: 25px auto;
      }

      h5 {
        padding: 3px 17px;
        background-color: #B9AFAD;
        margin: 0 auto;
        color: white;
        font-weight: normal;
        text-align: left;
      }

    }

  }

  &.ng-hide {
    display: none;
  }

  &.ng-hide-remove {
    @include animation(fadeInHeader 0.2s ease-in);
    background-color: rgba(0,0,0,.0);
    header {
      @include animation(slideInHeader 0.2s ease-in);
      @include transform(translateX(0px));
    }
  }

  &.ng-hide-add {
    @include animation(fadeOutBackground 0.2s ease-out);
    display: block !important;
    header {
      @include animation(slideOutHeader 0.2s ease-out);
    }
  }


}

@include keyframes(slideInHeader) {
  0% {
    @include transform(translateX(-$header-width));
  }
  100% {
    @include transform(translateX(0px));
  }
}

@include keyframes(fadeInHeader) {
  0% {
    background-color: rgba(0,0,0,.0);
  }
  100% {
    background-color: $header-background;
  }
}

@include keyframes(slideOutHeader) {
  0% {
    @include transform(translateX(0px));
  }

  100% {
    @include transform(translateX(-$header-width));
  }
}

@include keyframes(fadeOutBackground) {
  100% {
    background-color: rgba(0,0,0,0.0);
    display: none;
  }
}

.nav-bar-container {
  margin-top: -1px;
  padding-top: 1px;
  background-color: #333;
}

.nav-bar {
  margin: 0 auto;
  background-color: #F8F8F8;
  padding: 9px 20px;
  font-size: 14pt;
  text-align: center;
  color: rgb(140,140,140);
  text-shadow: 0px 2px 1px rgba(255,255,255,0.5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  border: 1px solid rgba(200,200,200,0.8);

  .left-button {
    float: left;
    width: 20px;
  }
  .title {
    margin-left: -20px;
    font-weight: $light-font;
    .fa-caret-down { margin-left: 20px; }
  }
  .right-button {
    float: right;

    &[disabled] {
      cursor: none;
      pointer-events: none;
      opacity: 0.5;
    }
  }

  button {
    background: transparent;
    border: none;
  }

  .left-button, .right-button {
    width: 20px;
    &:hover {
      cursor: pointer;
    }
  }

}

article {

  .nav-bar {
    .place:hover {
      cursor: pointer;
      color: $default-color;
    }
  }

  .sub-header {
    background-color: #737373;
    text-align: center;
    font-size: 10pt;
    line-space: 19pt;
    font-weight: $thin-font;
    padding: 3px;

    color: white;
    .fa-calendar {
      padding: 4px;
      margin-left: -7px;
      vertical-align: top;
      font-size: 8pt;
    }
  }

  .foods {
    margin: 0px auto;
    padding: 0px;

    list-style: none;
    text-align: center;
    .no-food {
      font-weight: $thin-font;
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }
  }

  .food-container {

    $border-radius: 4px;
    $food-height: 175px;

    .food {
      margin: 20px auto;
      width: 274px;
      position: relative;

      $preview-height: $food-height - 39px;
      .preview {
        width: 100%;
        height: $preview-height;

        color: white;

        background-repeat: none;
        background-size: cover;
        background-position: center;

        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        .overlay {
          position: absolute;
          z-index: $content-z-index;
          top: 0;
          left: 0;

          height: $preview-height;
          width: 100%;
          
          @include linear-gradient(-180deg, rgba(0,0,0,0.00) 50%, rgba(0,0,0,0.45) 100%);
          background-color: rgba(25,25,25,0.05);
          
          border: 1px inset #979797;
          border-bottom: none;

          box-shadow: inset 0px 1px 5px 2px rgba(0,0,0,0.36);

          border-top-left-radius: $border-radius;
          border-top-right-radius: $border-radius;
        }

        .profile {
          position: absolute;
          bottom: 36px;
          left: 0;
          z-index: $content-z-index;

          width: 100%;
          height: $preview-height;

          height: 44pt;

          padding: 6px 12px;
          margin: 0px 4px;
          overflow: hidden;
          
          .badge {
            margin-top: 3px;
            margin-right: 5px;
            height: 30pt;
            width: 30pt;

            border-radius: 15pt;
            background-color: $brand-green;
            border: 1px solid $brand-green;

            float: left;
          }

          .details {
            margin: 0px 5px;
            margin-top: 5px;
            overflow: hidden;

            line-height: 14pt;
            float: left;

            text-align: left;

            .title {
              font-weight: $bold-font;
              letter-spacing: -0.5px;
              font-size: 10pt;
            }
            .seller {
              font-weight: $light-font;
              font-size: 8pt;
            }

            .title, .seller {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 145px;
              width: 100%;
            }

          }

          .price {
            float: right;
            font-weight: $bold-font;
            font-size: 12pt;

            padding-top: 12px;
            margin-right: 8px;
          }

        }
      }

      .stats {
        background-color: #FAFAFA;
        
        border: 1px solid #E5E5E5;
        border-top: none;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        width: 100%;
        text-align: left;

        padding: 7px 15px;
        margin-bottom: 10px;

        .quantity, .rating {
          margin: 0 0;
          padding: 0px;

          display: inline-block;
          width: 50%;
        }

        .quantity {
          font-size: 12px;
          color: $ultralight-color;
        }

        .rating {
          width: 117px;
          text-align: right;
        }
      }

      &.ng-enter, &.ng-leave {
        @include backface-visibility(visible);
      }

      &.ng-enter {
        @include animation(fadeIn 0.15s ease-in);
      }

      &.ng-leave {
        @include animation(fadeOut 0.15s ease-in);
      }

    }

    .disable-overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;

      z-index: $content-z-index;

      min-height: 100%;
      display: block;
      width: 100%;

      padding-top: 54px;
      text-align: center;
      font-weight: $bold-font;
      color: white;
      font-size: 21px;
      background-color: rgba(0,0,0,0.24);
      border-radius: 5px;
    }

    &.expired, &.ended, &.sold-out {
      .food { pointer-events: none; }
      cursor: auto;
    }

    &.expired, &.ended {
      .disable-overlay { content: "SALE ENDED"; }
    }

    &.sold-out {
      pointer-events: none;
      .disable-overlay { content: "SOLD OUT"; }
    }

  }

  .become-a-seller {
    margin: 40px auto;
    margin-bottom: 0px;
    padding: 25px;
    position: relative;
    text-align: center;
    @include linear-gradient(0deg, #FDFDFD 0%, #E9E9E9 63%);
    box-shadow: 0px 2px 2px 0px rgba(175,175,175,0.50), inset 0px 1px 1px 0px rgba(0,0,0,0.50);

    &.sticky {
      position: absolute;
      bottom: 0px;

      display: block;
      width: 100%;
    }

    .step-logos {
      margin: -25px;
      padding: 0px;

      text-align: center;

      position: absolute;
      top: -5px;

      display: block;
      width: 100%;

      li {
        list-style: none;
        margin: 0px 10px;
        padding: 0px;
        display: inline-block;

        img {
          width: 52px;
          height: 52px;
        }
      }

    }

    .caption {
      height: 20px;
    }

    .sales-pitch {
      color: $light-color;
      font-family: $light-font;
      font-size: 10pt;
    }

    .caption, .sales-pitch, .button {
      max-width: 300px;
      margin: 15px auto;
    }

    .sales-pitch {
      margin: 5px auto;
    }

  }
  section .header {
    color: $brand-green;
    text-transform: uppercase;
    border-bottom: 1px solid $brand-green;
    display: block;
    width: 100%;

    font-size: 12pt;
  }

  .muted {
    margin: 15px auto;
    opacity: 0.85;
    text-align: center;
    font-size: 10pt;
  }

  .logo {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    padding: 0px 50px;
  }

  .button-group {
    padding: 20px;
    padding-bottom: 0px;
    button {
      margin-top: 5px;
    }
  }

}

article.edit {
  color: #5F5F5F;
  font-weight: $light-font;
  font-size: 10pt;

  section {
    margin: 20px;
    .header {
      margin-bottom: 10px;
    }
  }

  .profile {

    .pic {
      height: 90px;
      width: 90px;
      border-radius: 45px;

      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

    }

    .pic, .contact {
      display: inline-block;
    }

    .contact {
      margin-left: 10px;
      padding-top: 14px;
      vertical-align: top;
      height: 90px;
    }

  }

  .field {
    font-size: 12pt;
    border: 1px solid #CCC;
    padding: 5px;
    text-align: center;

    .edit {
      margin-top: 3px;
      float: right;

      &.on {
        @extend .fa-check;
        color: $brand-green;
      }

      &.off {
        @extend .fa-close;
        color: $cmu-red;
      }

    }

    .type {
      margin-top: 3px;
      float: left;
    }

    &:hover {
      color: $brand-green;
      border: 1px solid $brand-green;
      cursor: pointer;
    }

    &.email {
      margin-bottom: 5px;
    }

  }

  .credit {
    margin: 10px;
    text-align: center;
    line-height: 20px;
  }

  form {
    text-align: center;
    position: relative;
    .button, input {
      height: auto;
      display: inline-block;
      width: auto;
      vertical-align: top;
      padding: 6px;

      outline: none;

      font-size: 12pt;
    }
    input {
      width: 100%;
    }
    .apply-button {
      padding: 8px 10px;
      padding-top: 7px;
      font-size: 10pt;
      position: absolute;
      right: -58px;
      top: 0px;
    }


  }



}

$mobile: new-breakpoint(max-width 480px);
$desktop: new-breakpoint(min-width 480px);

@include media($desktop) {

  .foods {
    text-align: center !important;
    margin-bottom: 100px !important;

    .food-container {
      display: inline-block;
      margin: 10px;
      
      &:hover {
        cursor: pointer;
      }

    }
  }

}

.places-container, .delivery-places-container, .schools-container {
  @extend .modal;
  background-color: #FAFAFA;
  $border-color: #E5E5E5;

  .content {
    margin: 0 auto;
    padding: 28px 20px;
    * {
      font-size: 16pt;
      font-weight: $thin-font;
      color: #6C6C6C;
    }

    .ng-enter {
      @include backface-visibility(visible);
      @include animation(fadeIn 0.15s ease-in);
    }
    .ng-leave {
      @include backface-visibility(visible);
      @include animation(fadeOut 0.15s ease-in);
    }


  }

  .search {
    margin: 0 auto;
    padding: 0px;
    display: inline-block;
    background: transparent;
    border: none;
    outline: none;
    text-indent: 30px;
    width: 100%;
  }
  .fa-search { margin-top: 3px; position: absolute; }

  .search-container, .list {
    background-color: white;
    list-style: none;
    border: 1px solid $border-color;
  }

  .search-container {
    padding: 10px 17px;
  }
  .list {
    padding: 0px;
  }

  .list li {
    padding: 17px;
    text-align: left;
    border-bottom: 1px solid $border-color;

    &:hover {
      background-color: #EEE;
      cursor: pointer;
    }

    .name {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .right-bar {
      float: right;

      i {
        text-align: center;
        background-color: $brand-green;
        border-radius: 16px;
        padding-top: 8px;
        height: 32px;
        width: 32px;
        color: white;
        font-size: 12pt;
        position: relative;
        bottom: 2px;

        @include user-select(none);
      }
    }
  }
  .list li:last-child {
    border-bottom: none;
  }

  .no-food {
    margin: 20px;
    line-height: 24px;
    text-align: center;
    div { font-size: 12pt; }
    .fa { vertical-align: middle; }
  }

  .muted {
    font-size: 10pt;
    text-align: center;
    display: block;
    a {
      font-size: 10pt;
    }
  }

}


.triangle-border {
  position: relative;
  &:after {
    position: absolute;
    display: block;
    content: "";
    max-width: 100%;
    width: 100%;
    height: 7px;
    bottom: 0px;

    background-image: image-url("dashboard/triangle.png");
    @include retina-image(dashboard/triangle, 15px 7px);
  }

  &.triangle-border-top {
    
    &:after {
      top: 0px;
    }

  }

}

.ken-burns {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  transform-origin: center center;

  display: none;

  @include animation(kenburns 10s linear infinite forwards);
  &.active {
    display: block;
  }

  &:nth-child(odd) {
    @include animation(kenburns 10s linear infinite reverse); 
  }

  &.first {
    background-image: url(image-path("login/BG1.png"));
  }
  &.second {
    background-image: url(image-path("login/BG2.png"));
  }
  &.third {
    background-image: url(image-path("login/BG3.png"));
  }
  &.fourth {
    background-image: url(image-path("login/BG4.png"));
  }
  &.fifth {
    background-image: url(image-path("login/BG5.png"));
  }

}

.login-container {
  margin: 0 auto;
  text-align: center;
  min-height: 100%;
  width: 100%;

  position: absolute;
  z-index: 1;

  display: table;

  article {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }

  .logo, .button {
    max-width: 320px;
  }

  .logo {
    margin-top: -192px;
    margin-bottom: 50px;
  }

  .copy {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 29px;

    background-color: rgba(255,255,255,0.1);
    border-top: 1px solid rgba(255,255,255,0.25);
    color: white;


    h3 { 
      font-size: 16pt;
    }

    h3, em {
      font-weight: $light-font;
      opacity: 0.85;
    }

    em {
      font-size: 8pt;
    }
  }

  .button-container {
    margin: 10px auto;
    text-align: center;
    width: 100%;
  }

  .button.facebook {
    $fb-blue: #3C5193;
    background-color: $fb-blue;
    color: white;
    padding: 10px 36px;
    font-size: 12pt;
    text-align: center;
    border: none;
    outline: none;
    box-shadow: none;
    position: relative;

    margin: 0 auto;

    text-decoration: none;

    span {
      font-weight: $light-font;
    }

    &:hover {
      background-color: darken($fb-blue, 10%);
      cursor: pointer;
    }

    .fa-facebook {
      margin: 0 0;
      padding: 0px;
      position: absolute;
      left: 21px;
      top: 18px;
    }

  }

}


.order-container {
  @extend .subview;

  background-color: $offwhite-background;
}

.new-order {
  .badge {
    position: absolute;
    z-index: 3;
    bottom: -43px;
    left: 15px;
  }

}

.show-order {
  text-align: center;

  .overlay {
    text-align: left;
  }

  .badge-list {
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
  }

  .info {
    margin-top: 40px;
    font-weight: $thin-font;
    text-align: left;
    line-height: 23px;
  }

  p {
    color: $light-color;
    font-weight: $thin-font;
  }
  strong { font-weight: $light-font; }

  .arrival {
    background-color: white;

    p {
      font-size: 14pt;
    }

    .eta {
      margin: 20px;
      display: block;
      font-weight: normal;
      font-size: 22pt;

      &.ng-enter {

      }

      &.ng-leave {

      }

    }
  }

}

.new-order, .show-order, .delivery-places {
  background-color: $offwhite-background;
  color: $light-color;

  // Enough room for sticky footer
  margin-bottom: 48px;
  .overlay {
    padding: 0px;
    top: 0px;
    left: 0px;
  }

  .food-preview.full-screen {

    .headings {
      margin: 0px auto;
      margin-left: 94px;
      margin-top: 124px;
      text-align: left;
    }

    h1 {
      font-size: 16pt;
      color: white;
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    h3 {
      margin-top: 14px;
      font-size: 10pt;
      font-weight: $thin-font;
    }
  }

  section {
    border-bottom: 1px solid #CCCCCC;
    padding: 18px;

    font-size: 13pt;
    font-weight: normal;

    &.info {

      i { opacity: 0.7; float: left; padding-top: 5px; }

      i, .description {
        margin-top: 30px;
      }

      .description {
        margin-left: 38px;
        margin-right: 19px;
        margin-bottom: 0px;
      }

    }

    &.pricing {

      margin: 0 auto;
      text-align: left;
      background-color: white;

      i {
        opacity: 0.7;
        width: 20px;
        height: 20px;
        text-align: center;
        padding-top: 5px;
        border-radius: 10px;
        background-color: #B9AFAD;
        color: white;
        font-size: 8pt;
        margin-right: 14px;
      }

      .price-container {

        h2 {
          margin-left: 36px;
          font-weight: normal;
          color: $brand-green;
          font-size: 34px;
        }

      }

      .quantity-container {
        float: right;
        text-align: right;
        select, label {
          display: block;
        }
        &:hover {
          label {
            color: black;
          }
        }
      }

      .price-container, .quantity-container, i {
        display: inline-block;
      }

    }

    &.stats {
      padding: 19px;
      .left, .rating {
        font-weight: $thin-font;
        display: inline-block;
      }
      .rating {
        margin-top: 4px;
        float: right;
      }
      .progress-bar {
        margin-top: 6px;
        height: 12px;
        .progress { height: 12px !important; }
      }
    }

    &.promo {
      padding: 0px;
      position: relative;

      input {
        padding: 19px;
        text-indent: 29px;
        background-color: white;

        border: none;

        display: block;
        width: 100%;
        outline: none;

        font-weight: $thin-font;
      }

      .fa-ticket {
        position: absolute;
        top: 23px;
        left: 19px;
        @include transform(rotate(-45deg));
      }

    }

    &.delivery-location, &.arrival {
      margin-bottom: 50px;
    }

    &.sticky {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding: 0px;
      display: block;
      width: 100%;
    }
  }

  section:first-child {
    border-top: 1px solid #CCCCCC;
  }

  section:last-child {
    border-bottom: none;
  }


}

.payment-method-container {
  @extend .modal;
}

.edit {

  .promos {
    input {
      width: 100%;
      margin-right: 58px;
    }
    button {
      float: right;
    }


    form {
      margin-right: 58px;
    }

  }

  .payment {
    text-align: left;
    font-size: 14pt;

    input {
      text-indent: 35px;
      padding: 10px;
      width: 100%;
      border: 1px solid #BABABA;
      &:hover, &:active {
        border: 1px solid $brand-green;
      }
    }

    fieldset, span {
      &:hover, &:active, &:focus {
        .fa { color: $brand-green; }
      }
    }

    fieldset input {
      margin-left: -1px;
      border-bottom: none !important;
    }
    fieldset .fa {
      vertical-align: middle;
      position: absolute;
      left: 10px;
      top: 12px;
      float: left;
    }

    span {
      padding: 0px;
      width: 50%;
      margin: 0 auto;
      margin-top: -2px;
      display: inline-block;
      input {
        text-indent: 15px;
        width: 100%;
        display: inline-block;
      }
    }
    .expiration {
      left: -1px;

      .fa-calendar {
        height: 19px;
        width: 24px;

        position: absolute;
        top: 12px;
        left: 12px;
        display: block;
      }

      input {
        border-right: none !important;
        text-indent: 35px;
      }
    }
    .cvc {
      margin-left: -6px;

      .fa-lock {
        position: absolute;
        top: 12px;
        left: 10px;
        display: block;
      }
      input { text-indent: 25px; }

    }

    span, fieldset {
      position: relative;
    }

  }


  .promo-form {
    margin-right: 58px;
  }

}

.edit.modal {
  form {
    .ng-dirty.ng-invalid {
      border: 1px solid red;
    }
  }

  section {
    text-align: left;
  }

  fieldset {
    position: relative;
    .fa {
      position: absolute;
      top: 11px;
      left: 10px;
    }
    input:not(.cc) {
      text-indent: 35px;
      width: 100%;
      display: block;
    }
  }
}

.logo {
  margin: 0 auto;
  max-width: 250px;
  display: block;
}

.loading {
  .header {
    vertical-align: top;
  }
  img {
    width: 100px;
    margin-right: 3px;
  }
}

.iphone-container {
  @extend .modal;
  background-color: white;
  // overflow-y: hidden !important;
  -webkit-overflow-scrolling: none;
  overflow-scrolling: none;

  .food-preview {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 150px;
    display: block;
    width: 100%;

    @extend .triangle-border;
  }

  .pitch {
    .logo {
      width: 300px;
      max-width: 300px;
      display: block;
    }

    div {
      margin-top: 10px;
      color: $default-color;
      font-size: 11pt;
    }
  }

  section {
    padding: 10px;
    max-width: 100%;
    display: block;
    text-align: center;
  }

  .download {
    margin: 20px auto;
    border-top: 1px solid darken($offwhite-background, 5%);
    border-bottom: 1px solid darken($offwhite-background, 5%);
    padding: 35px;
    background-color: $offwhite-background;
    text-align: center;
    a {
      display: block;
    }
    a img {
      width: 200px;
    }
  }

  .cmu {
    color: $cmu-red;
    img {
      height: 60px;
      display: inline-block;
    }
    span {
      vertical-align: top;
      display: inline-block;
      padding-top: 20px;
      margin-left: 10px;
    }
  }

}

.invite-page {
  text-align: center;

  section {
    margin: 25px;
  }

  .description {
    .header {
      margin: 15px auto;
      display: inline;

      text-align: center;
      font-weight: bold;
      font-size: 20pt;
    }

    p {
      margin: 25px auto;
      color: $light-color;
      font-size: 12pt;
    }
  }

  .invite-code {
    color: $brand-green;
    font-size: 24pt;
  }

  .social {
    margin: 25px;
    .share-your-code {
      position: relative;
      display: inline-block;
      padding: 0px 10px;
      top: -12px;
      color: $light-color;
      background-color: $offwhite-background;
    }

    .share-buttons {
      margin: 5px auto;
      padding: 0px;

      width: 100%;
      text-align: center;
      .share {
        display: inline-block;
        text-align: left;
        font-size: 18pt;
        padding-top: 8px;
        margin: 0px 10px;

        border-radius: 23px;
        width: 46px;
        max-width: 46px;
        text-align: center;
        color: white;
        height: 46px;
        @include transition(background-color 0.15s ease-in);
        overflow: hidden;
      }
      .share:first-child {
        margin-left: -10px;
      }

      .facebook {
        background-color: #3B5998;
        &:hover {
          background-color: darken(#3B5998, 5%);
        }
      }
      .twitter {
        background-color: #4099FF;
        &:hover {
          background-color: darken(#4099FF, 5%);
        }
      }
      .messenger {
        @include retina-image("dashboard/invite/fb-messenger", 24px 24px);
        background-repeat: no-repeat;
        background-position: center;

        background-color: #00A4FF;
        &:hover {
          background-color: darken(#00A4FF, 5%);
        }
      }

    }
  }

}

.horizontal-rule {
  border-bottom: 1px solid $default-color;
  height: 1px;
  content: " ";
  display: block;
  width: 100%;
}


.push-notifications {

  .popup {
    height: auto;
    padding: 0px;
    border: none;

    .close {
      position: absolute;
      left: 5px;
      top: 5px;
      color: white;
      background-color: $brand-green;
      border: 2px solid white;
      z-index: $popup-z-index + 1;

      width: 30px;
      height: 30px;
      border-radius: 15px;
      i { vertical-align: middle; }
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }

    .food-preview {
      height: 175px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      position: relative;
      text-align: center;
      .icon {
        margin: 0 auto;

        position: absolute;
        color: white;
        padding: 5px;
        border-radius: 30px;
        font-size: 24pt;
        background-color: $brand-green;
        bottom: -36px;
        left: 0;
        right: 0;
        text-align: center;


        width: 60px;
        height: 60px;
        border-radius: 30px;
        border: 2px solid white;
      }


    }

    .header {
      margin: 25px auto;
      margin-top: 45px;

      h2 {
        color: $brand-green;
        font-weight: normal;
        font-size: 14pt;
      }

    }


    .description-container {
      padding: 5px;
      background-color: $offwhite-background;
      line-height: 23px;
      border-top: 1px solid darken($offwhite-background, 5%);

      color: darken($light-color, 5%);
      p { margin: 5px; font-weight: $thin-font; font-size: 10pt; }

    }

    .button-primary {
      margin: 0px;
    }

  }

}

.delivery-places {

  .nav-bar {
    position: static !important;
  }

  .header {
    margin: 0 auto;
    text-align: left;
    padding: 10px;

    color: white;

    .number, .place, {
      display: block;
    }

    &.your-late-asshole {
      background-color: #B00000;
      border-top: 1px solid #8B0606;
      border-bottom: 1px solid #8B0606;

      .number {
        color: #B00000;
      }
    }

    &.hurry-up-bro {
      background-color: #E9931E;
      border-top: 1px solid #D79323;
      border-bottom: 1px solid #D79323;

      .number {
        color: #E9931E;
      }
    }

    &.all-good {
      background-color: #47DA80;
      border-top: 1px solid #2FA85E;
      border-bottom: 1px solid #2FA85E;

      .number {
        color: #47DA80;
      }
    }

    .number {
      float: left;

      height: 24px;
      width: 24px;

      padding-top: 3px;

      border-radius: 12px;
      background-color: white;
      color: $brand-green;

      margin-top: -1px;
      text-align: center;
      font-size: 9pt;
    }

    .place {
      margin-left: 45px;
    }

    .im-here {
      display: inline-block;

      margin-top: -23px;

      float: right;
      width: auto;
      padding: 2px 5px;
      font-size: 10pt;

      border-radius: 1px;
    }

    .fading-circle-spinner {
      margin: 0px;
      margin-top: -20px;
      margin-right: 6px;
      float: right;
      display: inline-block;

      .fading-circle {
        color: $brand-green;
      }

    }

  }

  .popup .header {
    text-align: center;
  }

  .orders {
    margin: 0px auto;
    padding: 0px;
    list-style: none;


    .order {
      display: block;
      padding: 8px 15px;
      border-bottom: 1px solid #E0E0E0;
      vertical-align: middle;

      &:last-child {
        border-bottom: none;
      }

      .face {
        margin-right: 5px;
        height: 46px;
        width: 46px;
        display: inline-block;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 23px;
      }

      .info {
        display: inline-block;
        vertical-align: top;
        height: 46px;

        .name {
          font-weight: bold;
        }

        .quantity {
          max-width: 150px;

          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      .actions {
        height: 36px;
        display: block;
        float: right;

        margin-top: 6px;
        .call-button {
          margin-right: 6px;
          background-color: #F0F0F0;
          color: #B0B0B0;
          border: 1px solid #E3E1E1;

          &:hover {
            background-color: darken(#F0F0F0, 5%);
          }

        }

        .deliver-button {
          background-color: #3AC830;
          color: white;

          &:hover {
            background-color: darken(#3AC830, 5%);
          }

        }

        .call-button, .deliver-button {
          padding-top: 2px;
          height: 36px;
          width: 36px;
          border-radius: 18px;
          font-size: 18pt;

          display: inline-block;
          vertical-align: middle;
          text-align: center;

          @include transition(background-color 0.15s ease-in);
        }

        .fading-circle-spinner {
          margin: 0px;
          margin-top: 5px;
          display: inline-block;
          .fading-circle {
            color: $brand-green;
          }
        }

      }

    }

  }

}

.delivery-page {
  margin-bottom: 80px;

  .sticky {
    position: absolute;
    bottom: 0px;

    display: block;
    width: 100%;
    text-align: center;

    .sum {
      padding: 5px auto;
      background-color: $offwhite-background;
      opacity: 0.9;
      display: block;
    }

  }

}

.become-a-seller {

  .pitch {
    text-align: center;
    height: 83px;
    background-image: image-url("dashboard/seller/pitch.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center;

    padding-top: 16px;
    line-height: 24px;

    font-size: 14px;
  }
  
  .points {
    margin: 25px auto;
    margin-bottom: 130px;
    height: 361px;
    max-width: 280px;

    background-image: image-url("dashboard/seller/points.png");
    background-repeat: no-repeat;
    background-size: contain;

    list-style: none;
    text-align: center;
    li {
      margin: 0px auto;
      height: 100px;
      width: 100%;
      text-align: left;
      padding-left: 30px;
      
      .header {
        font-size: 14px;
      }

      p {
        color: $light-color;
        font-weight: $light-font;
        font-size: 12px;
        line-height: 18px;
      }
    }

    .get-food { color: #BC4068; }
    .prepare-food { color: #30AA8E; }
    .deliver-food { color: #CE0808; }
    .profit { color: #9C4FE0; }
  }

  .sticky-banner {
    padding: 15px 10px;
    @include linear-gradient(-180deg, #FDFDFD 17%, #E9E9E9 100%);
    border: 1px solid #D0D0D0;
    box-shadow: 0px 2px 2px 0px rgba(255,255,255,0.50);
    
    position: fixed;
    bottom: 0px;

    display: block;
    width: 100%;
    text-align: center;

    .message {
      height: 30px;
      margin-bottom: 10px;
    }
    .button {
      margin: 0 auto;
      font-size: 14px;
      padding: 10px 15px;
      width: 250px;
    }
  }
  
}

.choose-seller, .choose-foods {
  .picker {
    margin: 20px;
    padding: 20px;
    list-style: none;
    background-color: white;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 1px 6px 0px rgba(214,214,214,0.50);
    border-radius: 2px;

    position: relative;

    &:hover {
      cursor: pointer;
      background-color: darken(white, 5%);
    }

    .badge {
      position: absolute;
      top: -8px;
      right: 0px;

      height: 74px;
      width: 74px;
      border-radius: 37px;

      box-shadow: 0px 0px 1px #CCC;

      background-size: cover;
      background-position: center;

      overflow: hidden;

      .fa-check {
        padding: 5px;
        display: block;
        vertical-align: middle;
        background-color: rgba(0,0,0,0.43);
        color: rgba(255,255,255,0.70);
        box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.62);

        font-size: 60px;
      }

    }

  }
}

