<html>
  <head>
    <%= stylesheet_link_tag "email" %>
  </head>
  <body>

    <% unless @header_hidden %>
      <div class='header'>
        <%= link_to root_url, class: "clickable-area" do %>
          <%= image_tag "nommit-logo.png", class: "logo" %>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
